* {
  margin: 0;
  padding: 0;
}
section {
  display: flex;
  justify-content: center;
}
.tabs {
  background-color: rgb(169, 143, 109);
  width: 400px;
  border-radius: 5px;
  padding: 20px;
}
.tabList {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}
.tabList > .tab {
  cursor: pointer;
  position: relative;
  padding-bottom: 2px;
}
.tabList > .tab::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 1px;
  border-radius: 100px;
  background-color: rgb(55, 55, 92);
}
.tabList > .tab:focus::before {
  width: 100%;
  background-color: rgb(8, 8, 163);
}
.active {
  display: none;
}
.inactive {
  display: grid;
}
.activeTab {
  transition: 0.2s ease-in-out;
  color: red;
}
.inactiveTab {
  transition: 0.2s ease-in-out;
  color: whitesmoke;
}
.player {
  display: flex;
  justify-content: center;
  margin: 4rem ;
  background-color: rgba(19, 18, 17, 0.251);
}
/* ================Form css======================================= */
.form {
  background-color: rgba(171, 222, 231, 0.819);
  margin: 3rem;
  position: relative;
  width: 600px;
  height: 200px;
}
.content {
  background-color: yellow;
  position: absolute;
  left: 0;
  width: 300px;
  height: 100%;
}
.Forms {
  background-color: rgb(70, 70, 49);
  position: absolute;
  right: 0;
  width: 300px;
  height: 100%;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
